[submodule "libbmp"]
	path = libbmp
	url = git@github.com:marc-q/libbmp.git
[submodule "qdbmp"]
	path = qdbmp
	url = git@github.com:madwyn/qdbmp.git
[submodule "bitmap"]
	path = bitmap
	url = git@github.com:wernsey/bitmap.git
